mixin hiddenVar()
	.hidden
		span#password(tkey='password')
		span#repassword(tkey='repassword')
		span#username(tkey='username')
		span#1signup(tkey='1signup')
		span#signup(tkey='signup')
		span#wMail(tkey='wMail')
		span#wPwdLen(tkey='wPwdLen')
		span#noMatch(tkey='noMatch')
		span#login(tkey='login')
		span#userLastname(tkey='userLastname')
		span#userFirstname(tkey='userFirstname')
		span#finish(tkey='finish')
		span#wPassWd(tkey='wPassWd')
		span#needToBeFilled(tkey='needToBeFilled')
		span#connect(tkey='connect')
		span#errLastName(tkey='errLastName')
		span#errFirstName(tkey='errFirstName')
		span#errMail(tkey='errMail')
		span#errPassword(tkey='errPassword')
		span#errBlankConfirm(tkey='errBlankConfirm')
		span#errNoMatch(tkey='errNoMatch')
		span#errUsername(tkey='errUsername')
		span#errPhoto(tkey='errPhoto')
		span#errImageSize(tkey='errImageSize')
		span#emailSended(tkey='emailSended')
		span#edit(tkey='edit')
		span#errCom(tkey='errCom')
		span#mail Email
