mixin videos()
	#videos.row
		.col-12
			.row(style="color: darkgray;")
				.col-2
					span#returnBtn.glyphicon.glyphicon-chevron-left(style="cursor: pointer; cursor: hand;font-size: 30px; top: 30%;")
				.col-2.hidden-lg-up
				.col-5.text-center
					h2#videoTitle
						i#downloadInfo(style="display: none; color: red;" tkey="pleaseWait")
						i#reloadVideoInfo(style="display: none; color: green;" tkey="pleaseReload")
				.col-2.hidden-md-down
				.col-3.hidden-md-down
					h2.text-center(style="color: white;" tkey="commentary") 
						span.badge.badge-default
		br
		br
		br
		br
		.col-lg-9
			.row
				.col-lg-12
					video(id="video", class="video-js", controls, style="min-height: 500px; width: 100%;", poster="//vjs.zencdn.net/v/oceans.png", data-setup='{}')
					br
				.col-lg-12.hidden-md-down
					h2(style="color: white;" tkey="info").text-center
					p.infos(style="color: white;")
		.col-md-12.hidden-lg-up
			h2#toggle.text-center(style="color: white;" tkey="info")
				span.glyphicon.glyphicon-chevron-up
			div#stoggle
				p.infos(style="color: white;")
		.col-lg-3#commentZone
			h2.hidden-lg-up.text-center(style="color: white;" tkey="commentary")
				span.badge.badge-default
			div#commentaryEntered(style="padding-bottom: 15px;")
				.row(style="background-color: #171717;")
					.col-3
						if user.photo
							img(src=`${user.photo}` style="width: 100%; height: 100%;")
						else
							img(src="/assets/empty_user.png" style="width: 100%; height: 100%;")
					.col-9
						p(style="color: #919191;") #{user.username}
						.form-group
							#commentary
								input#comment.form-control-warning(type="text" style="width: 90%;")
								small.form-text.text-muted
